.navbar-main-div {
  background-image: linear-gradient(to right, hsl(203, 70%, 17%), rgb(0, 157, 255));
  color : #fff;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.navbar-inner-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.to-home-link {
  color : #fff;
  font-size: 2em;
  text-decoration: none;
  margin-left: 1%;
}

.to-home-link:hover {
  text-shadow: #fff 0px 0px 10px;
  text-decoration: none;
}

.navbar-inner-div>button {
  margin-left: auto;
    margin-right: 2%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 1.2em;
    text-shadow: #97c7f1 0px 0px 10px;
}

@media screen and (max-width: 1000px) {

  .to-home-link {
    font-size: 1.5em;
  }

  .navbar-inner-div>button {
      font-size: 1em;
  }

}

@media screen and (max-width: 400px) {
  .to-home-link {
    margin-left: 2%;
  }
}
