

.login-main-div {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.login-main-phrase {
  font-size: 5em;
  font-weight: bold;
  color: #fff;
  text-shadow: #333 0px 0px 30px;
  margin-top: 4%;
  margin-left: 2rem;
}

.quote {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  text-shadow: #fff 0px 0px 20px;
  margin-top: 3%;
  margin-left: auto;
  margin-right: 2%;
}

form {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-top: 5%;
}

input {
  width: 15%;
  height: 2rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  opacity: 0.6;
  padding-left: 2%;
  box-shadow: #333 0px 0px 10px;
}

form>input:focus {
  outline: none;
  border: 1px solid #333;
  box-shadow: #333 0px 0px 10px;
}

.forgrt-password-link {
  color: #fff;
  font-size: 0.9em;
  font-weight: bold;
  width: 15%;
}

.login-button {
  background-color: #32A2ED;
  color: #fff;
  width: 15%;
  height: 2rem;
  border:none;
  border-radius: 10px;
  margin-top: 1rem;
  box-shadow: #333 0px 0px 10px;
}

.login-button:hover {
  cursor: pointer;
  background-color: hwb(204 1% 36%);
  color: #fff;
  height: 2rem;
  border-radius: 10px;
  margin-top: 1rem;
  box-shadow: #333 0px 0px 10px;
}

.Dont-have-an-account {
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  margin-top: 2%;
  padding-left: 5%;
}

.sign-up-link {
  color: hsl(0, 83%, 65%);
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 1rem;
  padding-left: 1%;
  text-shadow: #000000 0px 0px 10px;
}

.or {
  margin-top: 1%;
  margin-bottom: 1%;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: #121212 0px 0px 20px;
  width: 10%;
  overflow: hidden;
  margin-left: 5%;
  margin-right: 5%;
}

.or:before,
.or:after {
background-color: #ff0000;
content: "";
display: inline-block;
height: 1px;
position: relative;
vertical-align: middle;
width: 20%;
}

.login-with-bottons {
  opacity: 0.5;
  width: 15%;
  height: 2rem;
  border:none;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: #333 0px 0px 20px;
  margin-left: 5%;
  text-align: center;
}

.login-with-bottons:hover {
  cursor: pointer;
  opacity: 1;
  width: 15%;
  height: 2rem;
  border:none;
  border-radius: 10px;
  box-shadow: #333 0px 0px 20px;
  margin-left: 5%;
  text-align: center;
}

.error {
  color: #ff0000;
  font-size: 1em;
  font-weight: bold;
  margin-top: 1rem;
  padding-left: 5%;
}

@media screen and (max-width: 1000px) {

  .login-main-phrase {
    font-size: 5em;
    font-weight: bold;
    color: #fff;
    text-shadow: #333 0px 0px 30px;
    margin-top: 4%;
    text-align: center;
    margin-right: 2rem;
  }

  .quote {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    text-shadow: #fff 0px 0px 20px;
    margin-top: 3%;
    text-align: center;
    margin-left: 0;
  }

  input {
    width: 25%;
    height: 2rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    opacity: 0.6;
    padding-left: 2%;
    box-shadow: #333 0px 0px 10px;
  }

  .forgrt-password-link {
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    width: 25%;
  }

  .login-button {
    background-color: #32A2ED;
    color: #fff;
    width: 25%;
    height: 2rem;
    border:none;
    border-radius: 10px;
    margin-top: 1rem;
    box-shadow: #333 0px 0px 10px;
  }

  .login-with-bottons {
    opacity: 0.5;
    width: 25%;
    height: 2rem;
    border:none;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: #333 0px 0px 20px;
    margin-left: 5%;
    text-align: center;
  }

  .login-with-bottons:hover {
    width: 25%;
  }

}

@media screen and (max-width: 700px) {

  .login-main-div {
    justify-content: center;
    align-items: center;
  }

  .quote {
    display: none;
  }

  form {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-top: 5%;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  input {
    width: 40%;
    height: 2rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    opacity: 0.6;
    padding-left: 2%;
    box-shadow: #333 0px 0px 10px;
  }

  .forgrt-password-link {
    color: #fff;
    font-size: 0.8em;
    font-weight: bold;
    width: 40%;
    text-align: center;
  }

  .login-button {
    background-color: #32A2ED;
    color: #fff;
    width: 40%;
    height: 2rem;
    border:none;
    border-radius: 10px;
    margin-top: 1rem;
    box-shadow: #333 0px 0px 10px;
  }

  .login-with-bottons {
    opacity: 0.5;
    width: 40%;
    height: 2rem;
    border:none;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: #333 0px 0px 20px;
    margin-left: 5%;
    text-align: center;
    
  }

  .Dont-have-an-account {
    color: #fff;
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 5%;
    text-align: center;
  }

  .or {
    display: none;
  }
  
  .or:before,
  .or:after {
  display: none;
  }

  .login-with-bottons {
    opacity: 0.5;
    width: 40%;
    height: 2rem;
    border:none;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: #333 0px 0px 20px;
    text-align: center;
    position: relative;
  }

  .login-with-bottons:hover {
    width: 40%;
  }

}

@media screen and (max-width: 400px) {

  .login-main-phrase {
    margin-top: 3%;
    font-size: 4em;
  }

  input {
    width: 60%;
  }

  .login-button {
    width: 60%;
  }

  .login-with-bottons {
    width: 60%;
  }

  .login-with-bottons:hover {
    width: 60%;
  }
}